@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2A3249;
  border-radius: 5px;
  height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-[#2A3249]/75;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f0f0f0;
  overflow-x: hidden;
}

.sidebar {
  @apply h-full flex flex-col items-center bg-[#1D2333] text-[#ccc];
}

.baseOutlineBtn {
  @apply w-[200px] py-2 px-3 border-2 rounded-md text-greenColor border-greenColor hover:bg-greenColor hover:text-white transition-all duration-[150ms];
}

.baseFilledBtn {
  @apply w-[200px] py-2 px-3 rounded-md text-whiteColor bg-greenColor hover:bg-greenColor/85 transition-all duration-[150ms];
}

.sidebarAction {
  @apply flex items-center gap-3 m-3 cursor-pointer;
}

.sidebarAction .anticon {
  @apply text-[1.5rem];
}

.sidebarAction.active .anticon,
.sidebarAction:hover .anticon {
  @apply text-greenColor;
}

.sidebarAction.active span,
.sidebarAction:hover span {
  @apply text-whiteColor;
}

